table{
    border-collapse:collapse;
}
td{
    border:2px rgb(78, 75, 75) solid;
    height:89px;
    width:89px;
    cursor:pointer;
    font-size:20px;
    vertical-align:bottom;
}
td:hover{
    background-color:rgb(65, 180, 8);
}
.white{
    background-color:rgb(239, 239, 239);
}
.black{
    background-color:rgb(151, 151, 151);
}
.a1{
    background-image:url(white rook.png);
    background-repeat:no-repeat;
    background-size:cover;
}
.b1{
    background-image:url(white knight.png);
    background-repeat:no-repeat;
    background-size:cover;
}
.c1{
    background-image:url(white bishop.png);
    background-repeat:no-repeat;
    background-size:cover;
}
.d1{
    background-image:url(white queen.png);
    background-repeat:no-repeat;
    background-size:cover;
}
.e1{
    background-image:url(white king.png);
    background-repeat:no-repeat;
    background-size:cover;
}
.f1{
    background-image:url(white bishop.png);
    background-repeat:no-repeat;
    background-size:cover;
}
.g1{
    background-image:url(white knight.png);
    background-repeat:no-repeat;
    background-size:cover;
}
.h1{
    background-image:url(yes/white rook.png);
    background-repeat:no-repeat;
    background-size:cover;
}
.a2{
    background-image:url(white pawn.png);
    background-repeat:no-repeat;
    background-size:cover;
}
.b2{
    background-image:url(white pawn.png);
    background-repeat:no-repeat;
    background-size:cover;
}
.c2{
    background-image:url(white pawn.png);
    background-repeat:no-repeat;
    background-size:cover;
}
.d2{
    background-image:url(white pawn.png);
    background-repeat:no-repeat;
    background-size:cover;
}
.e2{
    background-image:url(white pawn.png);
    background-repeat:no-repeat;
    background-size:cover;
}
.f2{
    background-image:url(white pawn.png);
    background-repeat:no-repeat;
    background-size:cover;
}
.g2{
    background-image:url(white pawn.png);
    background-repeat:no-repeat;
    background-size:cover;
}
.h2{
    background-image:url(white pawn.png);
    background-repeat:no-repeat;
    background-size:cover;
}
.a7{
    background-image:url(black pawn.png);
    background-repeat:no-repeat;
    background-size:cover;
}
.b7{
    background-image:url(black pawn.png);
    background-repeat:no-repeat;
    background-size:cover;
}
.c7{
    background-image:url(black pawn.png);
    background-repeat:no-repeat;
    background-size:cover;
}
.d7{
    background-image:url(black pawn.png);
    background-repeat:no-repeat;
    background-size:cover;
}
.e7{
    background-image:url(black pawn.png);
    background-repeat:no-repeat;
    background-size:cover;
}
.f7{
    background-image:url(black pawn.png);
    background-repeat:no-repeat;
    background-size:cover;
}
.g7{
    background-image:url(black pawn.png);
    background-repeat:no-repeat;
    background-size:cover;
}
.h7{
    background-image:url(black pawn.png);
    background-repeat:no-repeat;
    background-size:cover;
}
.a8{
    background-image:url(black rook.png);
    background-repeat:no-repeat;
    background-size:cover;
}
.b8{
    background-image:url(black knight.png);
    background-repeat:no-repeat;
    background-size:cover;
}
.c8{
    background-image:url(black bishop.png);
    background-repeat:no-repeat;
    background-size:cover;
}
.d8{
    background-image:url(black queen.png);
    background-repeat:no-repeat;
    background-size:cover;
}
.e8{
    background-image:url(black king.png);
    background-repeat:no-repeat;
    background-size:cover;
}
.f8{
    background-image:url(black bishop.png);
    background-repeat:no-repeat;
    background-size:cover;
}
.g8{
    background-image:url(black knight.png);
    background-repeat:no-repeat;
    background-size:cover;
}
.h8{
    background-image:url(black rook.png);
    background-repeat:no-repeat;
    background-size:cover;
}
