.body{
    background-color:black;
    color:white;
}
.heading{
    background-color: blue;
    text-align:center;
    color:white;
    border:2px solid black;
    padding:5px;
    border-radius: 10px;
    font-size:2rem;
    width:400;
}
.choice{
    height:200px;
    width:200px;
    border:2px solid black;
    border-radius:50%;
    margin:2rem;
}
.image{
    height:200px;
    width:200px;
    border:2px solid black;
    border-radius:50%;
    margin:2rem;
}
.choice:hover{
    opacity:60%;
    cursor:pointer;
}
.choices{
    display:inline-block;
}
.adjust{
    position:relative;
    top:-90px;
}
.text{
    font-size:2rem;
    display:inline-block;
    margin:3rem;
    height:100px;
}
.myScore,
.compScore{
    font-size:3rem;
}
.display{
    font-size:2rem;
    border:3px double blue;
    width: 300px;
    background-color:skyblue;
    padding:6px;
    border-radius:10px;
}
.computer{
    font-size : 1.5rem;
}


.handshake-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 200px; /* Adjust height as needed */
}

.image {
    position: unset;
    transform-origin: bottom center; /* Pivot point for rotation */
}

.uChoice {
    animation: shakeUpDownLeft 1s infinite;
}

.cChoice {
    animation: shakeUpDownRight 1s infinite;
}

@keyframes shakeUpDownLeft {
    0% { transform: rotate(10deg); }
    50% { transform: rotate(-10deg); }
    100% { transform: rotate(10deg); }
}

@keyframes shakeUpDownRight {
    0% { transform: rotate(-10deg); }
    50% { transform: rotate(10deg); }
    100% { transform: rotate(-10deg); }
}
