.body{
    background-color:black;
    color:white;
}
.heading{
    background-color: blue;
    text-align:center;
    color:white;
    border:2px solid black;
    padding:5px;
    border-radius: 10px;
    font-size:2rem;
    width:400;
}

.choice{
    height:200px;
    width:200px;
    border:2px solid black;
    border-radius:50%;
    margin:2rem;
}
.choice:hover{
    opacity:60%;
    cursor:pointer;
}
.text{
    font-size:2rem;
    display:inline-block;
    margin:3rem;
    height:100px;
}
.myScore,
.compScore{
    font-size:3rem;
}
.display{
    font-size:2rem;
    border:3px double blue;
    width: 300px;
    background-color:skyblue;
    padding:6px;
    border-radius:10px;
}
.computer{
    font-size : 1.5rem;
}