.heading{
    font-size:3rem;
    border:3px double black;
    background-color:skyblue;
}
table{
    border-collapse : collapse;
}
td{
    height : 150px;
    width : 150px;
    text-align:center;
    font-size:3rem;
}
.left{
    border-left : 10px solid black;
}
.right{
    border-right : 10px solid black;
}
.top{
    border-top : 10px solid black;
}
.bottom{
    border-bottom : 10px solid black;
}
button{
    font-size:1.5rem;
    margin:30px;
    background-color:grey;
}
#status{
    background-color:skyblue;
    padding:5px;
    font-size : 1.5rem;
}
.adjust{
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
}
.score{
    font-size : 2.5rem;
}